@font-face {
  font-family: vt323;
  src: url(vt323.ttf);
}

.greeting {
  font-size: 5vw;
  font-family: vt323;
  color: rgba(54, 180, 88, 0.5);
  text-shadow: 0 0 2px rgba(50, 168, 82, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(#181717 1px, #000000 5px);
  animation: jittery 4s infinite;
}

@keyframes jittery {
  0% {
    font-size: 5vw;
  }
  99.5% {
    font-size: 5vw;
  }
  100% {
    font-size: 6vw;
  }
}

.greeting::after {
  content: '_';
  animation: pulse 1.25s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.65;
  }
  100% {
    opacity: 0;
  }
}
